@charset "utf-8";

#row203 {
    background-image: url(../images/ABUIABACGAAgg8e1-AUo_cq0rQQwgA84lAg.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#row203 {
    padding-top: 0.0%;
}

#row203 {
    padding-right: 0.0%;
}

#row203 {
    padding-bottom: 0.0%;
}

#row203 {
    padding-left: 12.4%;
}

#row203>.jz_web_row__content>.jz_web_col0 {
    padding: 0;
}

#row203>.jz_web_row__content>.jz_web_col0 {
    margin: 0;
}

#row203>.jz_web_row__content>.jz_web_col1 {
    padding: 0;
}

#row203>.jz_web_row__content>.jz_web_col1 {
    margin: 0;
}

@media screen and (max-width: 768px) {
    #row203 {
        padding-top: 0.0%;
    }

    #row203 {
        padding-right: 0.0%;
    }

    #row203 {
        padding-bottom: 0.0%;
    }

    #row203 {
        padding-left: 0.0%;
    }

    #row203>.jz_web_row__content>.jz_web_col0 {
        margin: 0;
    }

    #row203>.jz_web_row__content>.jz_web_col1 {
        margin: 0;
    }
}

#row168 {
    background-image: url(../images/ABUIABACGAAgw8vL-AUooIDTngUw1go46QU.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#row168 {
    padding-top: 0.0%;
}

#row168 {
    padding-right: 17.708333333333336%;
}

#row168 {
    padding-bottom: 0.0%;
}

#row168 {
    padding-left: 17.708333333333336%;
}

#row168>.jz_web_row__content>.jz_web_col0 {
    padding: 0;
}

#row168>.jz_web_row__content>.jz_web_col0 {
    margin: 0;
}

#row168>.jz_web_row__content>.jz_web_col1 {
    padding: 0;
}

#row168>.jz_web_row__content>.jz_web_col1 {
    margin: 0;
}

#row168>.jz_web_row__content>.jz_web_col2 {
    padding: 0;
}

#row168>.jz_web_row__content>.jz_web_col2 {
    margin: 0;
}

@media screen and (max-width: 768px) {
    #row168 {
        background: none;
    }

    #row168 {
        padding-top: 0.0%;
    }

    #row168 {
        padding-right: 0.0%;
    }

    #row168 {
        padding-bottom: 0.0%;
    }

    #row168 {
        padding-left: 0.0%;
    }

    #row168>.jz_web_row__content>.jz_web_col0 {
        margin: 0;
    }

    #row168>.jz_web_row__content>.jz_web_col1 {
        margin: 0;
    }

    #row168>.jz_web_row__content>.jz_web_col2 {
        margin: 0;
    }
}

#row249 {
    background-image: url(../images/ABUIABACGAAgw8vL-AUooIDTngUw1go46QU.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#row249 {
    padding-top: 0.0%;
}

#row249 {
    padding-right: 17.708333333333336%;
}

#row249 {
    padding-bottom: 0.0%;
}

#row249 {
    padding-left: 17.708333333333336%;
}

#row249>.jz_web_row__content>.jz_web_col0 {
    padding: 0;
}

#row249>.jz_web_row__content>.jz_web_col0 {
    margin: 0;
}

#row249>.jz_web_row__content>.jz_web_col1 {
    padding: 0;
}

#row249>.jz_web_row__content>.jz_web_col1 {
    margin: 0;
}

#row249>.jz_web_row__content>.jz_web_col2 {
    padding: 0;
}

#row249>.jz_web_row__content>.jz_web_col2 {
    margin: 0;
}

#row249>.jz_web_row__content>.jz_web_col3 {
    padding: 0;
}

#row249>.jz_web_row__content>.jz_web_col3 {
    margin: 0;
}

@media screen and (max-width: 768px) {
    #row249 {
        background: none;
    }

    #row249 {
        padding-top: 0.0%;
    }

    #row249 {
        padding-right: 0.0%;
    }

    #row249 {
        padding-bottom: 0.0%;
    }

    #row249 {
        padding-left: 0.0%;
    }

    #row249>.jz_web_row__content>.jz_web_col0 {
        margin: 0;
    }

    #row249>.jz_web_row__content>.jz_web_col1 {
        margin: 0;
    }

    #row249>.jz_web_row__content>.jz_web_col2 {
        margin: 0;
    }

    #row249>.jz_web_row__content>.jz_web_col3 {
        margin: 0;
    }
}

#row3 {
    padding-top: 0.0%;
}

#row3 {
    padding-right: 0.0%;
}

#row3 {
    padding-bottom: 0.0%;
}

#row3 {
    padding-left: 0.0%;
}

#row3>.jz_web_row__content>.jz_web_col0 {
    padding: 0;
}

#row3>.jz_web_row__content>.jz_web_col0 {
    margin: 0;
}

#row3>.jz_web_row__content>.jz_web_col1 {
    padding: 0;
}

#row3>.jz_web_row__content>.jz_web_col1 {
    margin: 0;
}

#row3>.jz_web_row__content>.jz_web_col2 {
    padding: 0;
}

#row3>.jz_web_row__content>.jz_web_col2 {
    margin: 0;
}

#row3>.jz_web_row__content>.jz_web_col3 {
    padding: 0;
}

#row3>.jz_web_row__content>.jz_web_col3 {
    margin: 0;
}

@media screen and (max-width: 768px) {
    #row3 {
        padding-top: 0.0%;
    }

    #row3 {
        padding-right: 0.0%;
    }

    #row3 {
        padding-bottom: 0.0%;
    }

    #row3 {
        padding-left: 0.0%;
    }

    #row3>.jz_web_row__content>.jz_web_col0 {
        margin: 0;
    }

    #row3>.jz_web_row__content>.jz_web_col1 {
        margin: 0;
    }

    #row3>.jz_web_row__content>.jz_web_col2 {
        margin: 0;
    }

    #row3>.jz_web_row__content>.jz_web_col3 {
        margin: 0;
    }
}

#row208 {
    padding-top: 3.125%;
}

#row208 {
    padding-right: 12.4%;
}

#row208 {
    padding-bottom: 0.0%;
}

#row208 {
    padding-left: 12.4%;
}

#row208>.jz_web_row__content>.jz_web_col0 {
    padding: 0;
}

#row208>.jz_web_row__content>.jz_web_col0 {
    margin: 0;
}

#row208>.jz_web_row__content>.jz_web_col1 {
    padding: 0;
}

#row208>.jz_web_row__content>.jz_web_col1 {
    margin: 0;
}

@media screen and (max-width: 768px) {
    #row208 {
        padding-top: 0.0%;
    }

    #row208 {
        padding-right: 0.0%;
    }

    #row208 {
        padding-bottom: 0.0%;
    }

    #row208 {
        padding-left: 0.0%;
    }

    #row208>.jz_web_row__content>.jz_web_col0 {
        margin: 0;
    }

    #row208>.jz_web_row__content>.jz_web_col1 {
        margin: 0;
    }
}

#row4 {
    padding-top: 0.0%;
}

#row4 {
    padding-right: 12.4%;
}

#row4 {
    padding-bottom: 0.5208333333333333%;
}

#row4 {
    padding-left: 12.4%;
}

#row4>.jz_web_row__content>.jz_web_col0 {
    padding: 0;
}

#row4>.jz_web_row__content>.jz_web_col0 {
    margin: 0;
}

#row4>.jz_web_row__content>.jz_web_col0 {
    background: none;
}

#row4>.jz_web_row__content>.jz_web_col0 {
    border: none;
}

@media screen and (max-width: 768px) {
    #row4 {
        padding-top: 0.0%;
    }

    #row4 {
        padding-right: 0.0%;
    }

    #row4 {
        padding-bottom: 0.0%;
    }

    #row4 {
        padding-left: 0.0%;
    }

    #row4>.jz_web_row__content>.jz_web_col0 {
        margin: 0;
    }
}

#row170 {
    padding-top: 0.0%;
}

#row170 {
    padding-right: 12.4%;
}

#row170 {
    padding-bottom: 0.0%;
}

#row170 {
    padding-left: 12.4%;
}

#row170>.jz_web_row__content>.jz_web_col0 {
    padding: 0;
}

#row170>.jz_web_row__content>.jz_web_col0 {
    margin: 0;
}

@media screen and (max-width: 768px) {
    #row170 {
        padding-top: 0.0%;
    }

    #row170 {
        padding-right: 0.0%;
    }

    #row170 {
        padding-bottom: 0.0%;
    }

    #row170 {
        padding-left: 0.0%;
    }

    #row170>.jz_web_row__content>.jz_web_col0 {
        margin: 0;
    }
}

#row187 {
    padding-top: 0.0%;
}

#row187 {
    padding-right: 12.4%;
}

#row187 {
    padding-bottom: 0.0%;
}

#row187 {
    padding-left: 12.4%;
}

#row187>.jz_web_row__content>.jz_web_col0 {
    padding: 0;
}

#row187>.jz_web_row__content>.jz_web_col0 {
    margin: 0;
}

@media screen and (max-width: 768px) {
    #row187 {
        padding-top: 0.0%;
    }

    #row187 {
        padding-right: 0.0%;
    }

    #row187 {
        padding-bottom: 0.0%;
    }

    #row187 {
        padding-left: 0.0%;
    }

    #row187>.jz_web_row__content>.jz_web_col0 {
        margin: 0;
    }
}

#module451 .module_banner {
    display: none;
}

#module451 {
    margin-top: 71.94244604316546%;
}

#module451 {
    margin-right: 0.0%;
}

#module451 {
    margin-bottom: 0.0%;
}

#module451 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {}

@media screen and (max-width: 768px) {
    #module451 .module_banner {
        display: none;
    }

    #module451 {
        margin-top: 2.666%;
    }

    #module451 {
        margin-right: 3.733%;
    }

    #module451 {
        margin-bottom: 1.333%;
    }

    #module451 {
        margin-left: 3.733%;
    }
}

#module452 .module_banner {
    display: none;
}

#module452 {
    margin-top: 3.3868092691622103%;
}

#module452 {
    margin-right: 0.0%;
}

#module452 {
    margin-bottom: 0.0%;
}

#module452 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {}

@media screen and (max-width: 768px) {
    #module452 .module_banner {
        display: none;
    }

    #module452 {
        margin-top: 2.666%;
    }

    #module452 {
        margin-right: 3.733%;
    }

    #module452 {
        margin-bottom: 1.333%;
    }

    #module452 {
        margin-left: 3.733%;
    }
}

#module498 .module_banner {
    display: none;
}

#module498 {
    margin-top: 0.0%;
}

#module498 {
    margin-right: 0.0%;
}

#module498 {
    margin-bottom: 0.0%;
}

#module498 {
    margin-left: 0.0%;
}

@font-face {
    font-family: 'fontface__OPPOSans-H__145__958817914943';
    src: url('../ABUI2b69BxBMGAAgnu3f-AUo963Tggc') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 769px) {
    @font-face {
        font-family: 'fontface__OPPOSans-H__145__958817914943';
        src: url('../ABUI2b69BxBMGAAgnu3f-AUo963Tggc') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

@media screen and (max-width: 768px) {
    #module498 .module_banner {
        display: none;
    }

    #module498 {
        margin-top: 2.666%;
    }

    #module498 {
        margin-right: 3.733%;
    }

    #module498 {
        margin-bottom: 1.333%;
    }

    #module498 {
        margin-left: 3.733%;
    }

    @font-face {
        font-family: 'fontface__OPPOSans-H__145__958817914943';
        src: url('../ABUI2b69BxBMGAAgnu3f-AUo963Tggc') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

#module500 .module_banner {
    display: none;
}

#module500 {
    margin-top: 88.64628820960698%;
}

#module500 {
    margin-right: 8.296943231441048%;
}

#module500 {
    margin-bottom: 0.0%;
}

#module500 {
    margin-left: 10.043668122270741%;
}

@font-face {
    font-family: 'fontface__OPPOSans-M__147__814740028951';
    src: url('../ABUI2b69BxBMGAAgnu3f-AUos5Wu3gI') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 769px) {
    @font-face {
        font-family: 'fontface__OPPOSans-M__147__814740028951';
        src: url('../ABUI2b69BxBMGAAgnu3f-AUos5Wu3gI') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

@media screen and (max-width: 768px) {
    #module500 .module_banner {
        display: none;
    }

    #module500 {
        margin-top: 34.4%;
    }

    #module500 {
        margin-right: 3.733%;
    }

    #module500 {
        margin-bottom: 1.333%;
    }

    #module500 {
        margin-left: 3.733%;
    }

    @font-face {
        font-family: 'fontface__OPPOSans-M__147__814740028951';
        src: url('../ABUI2b69BxBMGAAgnu3f-AUos5Wu3gI') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

#module462 .module_banner {
    display: none;
}

#module462 {
    margin-top: 88.12154696132598%;
}

#module462 {
    margin-right: 10.480349344978166%;
}

#module462 {
    margin-bottom: 0.0%;
}

#module462 {
    margin-left: 8.296943231441048%;
}

@font-face {
    font-family: 'fontface__OPPOSans-M__147__814740028951';
    src: url('../ABUI2b69BxBMGAAgnu3f-AUo3O3z3gQ') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 769px) {
    @font-face {
        font-family: 'fontface__OPPOSans-M__147__814740028951';
        src: url('../ABUI2b69BxBMGAAgnu3f-AUo3O3z3gQ') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

@media screen and (max-width: 768px) {
    #module462 .module_banner {
        display: none;
    }

    #module462 {
        margin-top: 34.4%;
    }

    #module462 {
        margin-right: 3.733%;
    }

    #module462 {
        margin-bottom: 1.333%;
    }

    #module462 {
        margin-left: 3.733%;
    }

    @font-face {
        font-family: 'fontface__OPPOSans-M__147__814740028951';
        src: url('../ABUI2b69BxBMGAAgnu3f-AUo3O3z3gQ') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

#module499 .module_banner {
    display: none;
}

#module499 {
    margin-top: 88.27586206896552%;
}

#module499 {
    margin-right: 6.986899563318777%;
}

#module499 {
    margin-bottom: 0.0%;
}

#module499 {
    margin-left: 11.790393013100436%;
}

@font-face {
    font-family: 'fontface__OPPOSans-M__147__814740028951';
    src: url('../ABUI2b69BxBMGAAgnu3f-AUoy_2bIg') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 769px) {
    @font-face {
        font-family: 'fontface__OPPOSans-M__147__814740028951';
        src: url('../ABUI2b69BxBMGAAgnu3f-AUoy_2bIg') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

@media screen and (max-width: 768px) {
    #module499 .module_banner {
        display: none;
    }

    #module499 {
        margin-top: 34.4%;
    }

    #module499 {
        margin-right: 3.733%;
    }

    #module499 {
        margin-bottom: 1.333%;
    }

    #module499 {
        margin-left: 3.733%;
    }

    @font-face {
        font-family: 'fontface__OPPOSans-M__147__814740028951';
        src: url('../ABUI2b69BxBMGAAgnu3f-AUoy_2bIg') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

#module519 .module_banner {
    display: none;
}

#module519 {
    margin-top: 34.883720930232556%;
}

#module519 {
    margin-right: 0.0%;
}

#module519 {
    margin-bottom: 0.0%;
}

#module519 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {}

@media screen and (max-width: 768px) {
    #module519 .module_banner {
        display: none;
    }

    #module519 {
        margin-top: 2.666%;
    }

    #module519 {
        margin-right: 3.733%;
    }

    #module519 {
        margin-bottom: 1.333%;
    }

    #module519 {
        margin-left: 3.733%;
    }
}

#module513 .module_banner {
    display: none;
}

#module513 {
    margin-top: 131.95876288659792%;
}

#module513 {
    margin-right: 7.423580786026202%;
}

#module513 {
    margin-bottom: 0.0%;
}

#module513 {
    margin-left: 10.91703056768559%;
}

@font-face {
    font-family: 'fontface__OPPOSans-H__145__297637222731';
    src: url('../ABUI2b69BxBMGAAgnu3f-AUo6LGtmQY') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 769px) {
    @font-face {
        font-family: 'fontface__OPPOSans-H__145__297637222731';
        src: url('../ABUI2b69BxBMGAAgnu3f-AUo6LGtmQY') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

@media screen and (max-width: 768px) {
    #module513 .module_banner {
        display: none;
    }

    #module513 {
        margin-top: 34.4%;
    }

    #module513 {
        margin-right: 3.733%;
    }

    #module513 {
        margin-bottom: 1.333%;
    }

    #module513 {
        margin-left: 3.733%;
    }

    @font-face {
        font-family: 'fontface__OPPOSans-H__145__297637222731';
        src: url('../ABUI2b69BxBMGAAgnu3f-AUo6LGtmQY') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

#module514 .module_banner {
    display: none;
}

#module514 {
    margin-top: 131.58914728682169%;
}

#module514 {
    margin-right: 9.170305676855897%;
}

#module514 {
    margin-bottom: 0.0%;
}

#module514 {
    margin-left: 9.606986899563319%;
}

@font-face {
    font-family: 'fontface__OPPOSans-H__145__157096507802';
    src: url('../ABUI2b69BxBMGAAgnu3f-AUooq6c5gI') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 769px) {
    @font-face {
        font-family: 'fontface__OPPOSans-H__145__157096507802';
        src: url('../ABUI2b69BxBMGAAgnu3f-AUooq6c5gI') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

@media screen and (max-width: 768px) {
    #module514 .module_banner {
        display: none;
    }

    #module514 {
        margin-top: 34.4%;
    }

    #module514 {
        margin-right: 3.733%;
    }

    #module514 {
        margin-bottom: 1.333%;
    }

    #module514 {
        margin-left: 3.733%;
    }

    @font-face {
        font-family: 'fontface__OPPOSans-H__145__157096507802';
        src: url('../ABUI2b69BxBMGAAgnu3f-AUooq6c5gI') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

#module515 .module_banner {
    display: none;
}

#module515 {
    margin-top: 133.13953488372093%;
}

#module515 {
    margin-right: 8.73362445414847%;
}

#module515 {
    margin-bottom: 0.0%;
}

#module515 {
    margin-left: 10.043668122270741%;
}

@font-face {
    font-family: 'fontface__OPPOSans-H__145__233146646977';
    src: url('../ABUI2b69BxBMGAAgnu3f-AUo4NOguwc') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 769px) {
    @font-face {
        font-family: 'fontface__OPPOSans-H__145__233146646977';
        src: url('../ABUI2b69BxBMGAAgnu3f-AUo4NOguwc') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

@media screen and (max-width: 768px) {
    #module515 .module_banner {
        display: none;
    }

    #module515 {
        margin-top: 34.4%;
    }

    #module515 {
        margin-right: 3.733%;
    }

    #module515 {
        margin-bottom: 1.333%;
    }

    #module515 {
        margin-left: 3.733%;
    }

    @font-face {
        font-family: 'fontface__OPPOSans-H__145__233146646977';
        src: url('../ABUI2b69BxBMGAAgnu3f-AUo4NOguwc') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

#module520 .module_banner {
    display: none;
}

#module520 {
    margin-top: 3.3333333333333335%;
}

#module520 {
    margin-right: 30.714285714285715%;
}

#module520 {
    margin-bottom: 0.0%;
}

#module520 {
    margin-left: 41.667%;
}

#module520 .module_button_content {
    border-radius: 20px;
    background: rgba(170, 71, 188, 1);
    font-family: 微软雅黑;
    font-size: 14px;
    color: #fff;
}

#module520 .module_button_content:hover {
    color: #fff;
}

#module520 .module_button_content .after {
    background: #2ba0e8;
}

#module520 .module_content {
    height: 46px;
}

@media screen and (min-width: 769px) {}

@media screen and (max-width: 768px) {
    #module520 .module_banner {
        display: none;
    }

    #module520 {
        margin-top: 2.666%;
    }

    #module520 {
        margin-right: 30.0%;
    }

    #module520 {
        margin-bottom: 1.333%;
    }

    #module520 {
        margin-left: 30.0%;
    }
}

#module509 .module_banner {
    display: none;
}

#module509 {
    margin-top: 0.0%;
}

#module509 {
    margin-right: 0.0%;
}

#module509 {
    margin-bottom: 0.0%;
}

#module509 {
    margin-left: 0.0%;
}

@font-face {
    font-family: 'fontface__阿里巴巴普惠体-Bold__30__1175641905051';
    src: url('../ABUI2b69BxBMGAAgnu3f-AUo-Lvu6QM') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 769px) {
    @font-face {
        font-family: 'fontface__阿里巴巴普惠体-Bold__30__1175641905051';
        src: url('../ABUI2b69BxBMGAAgnu3f-AUo-Lvu6QM') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

@media screen and (max-width: 768px) {
    #module509 .module_banner {
        display: none;
    }

    #module509 {
        margin-top: 2.666%;
    }

    #module509 {
        margin-right: 3.733%;
    }

    #module509 {
        margin-bottom: 1.333%;
    }

    #module509 {
        margin-left: 3.733%;
    }

    @font-face {
        font-family: 'fontface__阿里巴巴普惠体-Bold__30__1175641905051';
        src: url('../ABUI2b69BxBMGAAgnu3f-AUo-Lvu6QM') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

#module511 .module_banner {
    display: none;
}

#module511 {
    margin-top: 0.9966777408637874%;
}

#module511 {
    margin-right: 0.0%;
}

#module511 {
    margin-bottom: 0.0%;
}

#module511 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {}

@media screen and (max-width: 768px) {
    #module511 .module_banner {
        display: none;
    }

    #module511 {
        margin-top: 2.666%;
    }

    #module511 {
        margin-right: 3.733%;
    }

    #module511 {
        margin-bottom: 1.333%;
    }

    #module511 {
        margin-left: 3.733%;
    }
}

#module510 .module_banner {
    display: none;
}

#module510 {
    margin-top: 8.305647840531561%;
}

#module510 {
    margin-right: 0.0%;
}

#module510 {
    margin-bottom: 0.0%;
}

#module510 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {}

@media screen and (max-width: 768px) {
    #module510 .module_banner {
        display: none;
    }

    #module510 {
        margin-top: 2.666%;
    }

    #module510 {
        margin-right: 3.733%;
    }

    #module510 {
        margin-bottom: 1.333%;
    }

    #module510 {
        margin-left: 3.733%;
    }
}

#module357 .module_banner {
    display: none;
}

#module357 {
    margin-top: 38.504155124653735%;
}

#module357 {
    margin-right: 71.1218836565097%;
}

#module357 {
    margin-bottom: 0.0%;
}

#module357 {
    margin-left: 0.0%;
}

#module357 .module_content {
    height: 59px;
}

@media screen and (min-width: 769px) {}

@media screen and (max-width: 768px) {
    #module357 .module_banner {
        display: none;
    }

    #module357 {
        margin-top: 0.0%;
    }

    #module357 {
        margin-right: 1.733%;
    }

    #module357 {
        margin-bottom: 0.0%;
    }

    #module357 {
        margin-left: 1.733%;
    }
}

#module364 .module_banner {
    display: none;
}

#module364 {
    margin-top: 20.844875346260388%;
}

#module364 {
    margin-right: 70.42936288088643%;
}

#module364 {
    margin-bottom: 0.0%;
}

#module364 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {}

@media screen and (max-width: 768px) {
    #module364 .module_banner {
        display: none;
    }

    #module364 {
        margin-top: 2.666%;
    }

    #module364 {
        margin-right: 3.733%;
    }

    #module364 {
        margin-bottom: 1.333%;
    }

    #module364 {
        margin-left: 3.733%;
    }
}

#module365 .module_banner {
    display: none;
}

#module365 {
    margin-top: 1.8005540166204987%;
}

#module365 {
    margin-right: 72.99168975069253%;
}

#module365 {
    margin-bottom: 0.0%;
}

#module365 {
    margin-left: 0.0%;
}

@media screen and (min-width: 769px) {}

@media screen and (max-width: 768px) {
    #module365 .module_banner {
        display: none;
    }

    #module365 {
        margin-top: 2.666%;
    }

    #module365 {
        margin-right: 3.733%;
    }

    #module365 {
        margin-bottom: 1.333%;
    }

    #module365 {
        margin-left: 3.733%;
    }
}

#module362 .module_banner {
    display: none;
}

#module362 {
    margin-top: 2.8393351800554014%;
}

#module362 {
    margin-right: 73.9612188365651%;
}

#module362 {
    margin-bottom: 0.0%;
}

#module362 {
    margin-left: 0.0%;
}

#module362 .module_content {
    height: 64px;
}

@media screen and (min-width: 769px) {}

@media screen and (max-width: 768px) {
    #module362 .module_banner {
        display: none;
    }

    #module362 {
        margin-top: 0.0%;
    }

    #module362 {
        margin-right: 1.733%;
    }

    #module362 {
        margin-bottom: 0.0%;
    }

    #module362 {
        margin-left: 1.733%;
    }
}

.jz_nav_wrap {
    margin-top: 1.8367346938775513%;
}

.jz_nav_wrap {
    margin-right: 20.10204081632653%;
}

.jz_nav_wrap {
    margin-bottom: 0.0%;
}

.jz_nav_wrap {
    margin-left: 19.693877551020407%;
}

.jz_web_header .jz_nav {}

.jz_web_header .jz_nav_item {
    min-width: 80px;
    height: 50px;
    line-height: 50px;
}

.jz_web_header .jz_nav_item:not(.sub_nav_item) {
    font-size: 14px;
    font-family: Garamond;
}

.jz_web_header .nav_item_septal {
    font-size: 14px;
}

.jz_web_header .jz_nav_layout0 .sub_nav_list,
.jz_web_header .jz_nav_layout0 .three_nav_list {}

.jz_web_header .jz_nav_layout0 .sub_nav_item,
.jz_web_header .jz_nav_layout0 .three_nav_item {}

.jz_web_header .sub_nav_list,
.jz_web_header .three_nav_list {}

.jz_web_header .sub_nav_item,
.jz_web_header .three_nav_item {
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

.jz_mobi_header .jz_nav_item {}

.jz_mobi_header .sub_nav_item {}

.jz_mobi_header .sub_nav_item_text {}

.jz_mobi_header .three_nav_item {}

.jz_mobi_header .three_nav_item_text {}

.jz_web_header .jz_nav_item:not(.jz_nav_item_selected):not(.jz_nav_item_active) .nav_item_text_wrap {
    color: rgba(255, 255, 255, 1);
}

.jz_web_header .jz_nav .jz_nav_item_selected .nav_item_text_wrap,
.jz_web_header .jz_nav .jz_nav_item:hover .nav_item_text_wrap {
    color: #212121;
}

.s_member_login {
    margin-top: 6.458333333333334%;
}

.s_member_login {
    margin-right: 52.5%;
}

.s_member_login {
    margin-bottom: 0.0%;
}

.s_member_login {
    margin-left: 16.875%;
}

@font-face {
    font-family: 'fontface__OPPOSans-M__147__396831887915';
    src: url('../ABUI2b69BxBMGAAgnu3f-AUo6Ibsaw') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 769px) {
    .jz_website_title_wrap {
        margin-top: 0.0%;
    }

    .jz_website_title_wrap {
        margin-right: 0.0%;
    }

    .jz_website_title_wrap {
        margin-bottom: 0.0%;
    }

    .jz_website_title_wrap {
        margin-left: 0.0%;
    }
}

@media screen and (max-width: 768px) {
    #jz_website_title .logo_wrap {
        width: 40.43478260869565px;
    }
}

@media screen and (min-width: 769px) {
    .jz_banner .banner_pic .banner_pic_group {
        padding-bottom: 50.0%;
    }
}

.jz_banner .banner_pic .banner_pic_0 .banner_pic_item {
    background-image: url(../images/AD0IzpymCxACGAAg27vK9QUoqOSxpwMwgA84wAc.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.jz_banner .banner_pic .banner_pic_1 .banner_pic_item {
    background-image: url(../images/AD0IzpymCxACGAAg5Iuq9QUosKuR5gMwgA84wAc.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

@media screen and (max-width: 768px) {
    .jz_banner .banner_pic .banner_pic_group {
        padding-bottom: 50.0%;
    }

    .jz_banner .banner_pic .banner_pic_0 .banner_pic_item {
        background-image: url(../images/AD0IzpymCxACGAAg27vK9QUoqOSxpwMwgA84wAc.jpg);
        background-size: cover;
        background-position: 50% 50%;
    }

    .jz_banner .banner_pic .banner_pic_1 .banner_pic_item {
        background-image: url(../images/AD0IzpymCxACGAAg5Iuq9QUosKuR5gMwgA84wAc.jpg);
        background-size: cover;
        background-position: 50% 50%;
    }
}

.g_header {
    background-image: none;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: repeat;
    background-position: top left;
}

.g_header__static .g_header_content {
    background-image: none;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: repeat;
    background-position: top left;
}

.g_header__fixed .g_header_content {
    background: none;
}

.jz_screen_mobi .g_mobi_nav_style__1 .s_multi_language_mobi_svg {
    color: #fff
}

.jz_screen_mobi .g_mobi_nav_style__1 .member_login_svg {
    color: #fff
}

.jz_screen_mobi .g_mobi_nav_style__1 .nav_menu_item {
    background-color: #fff
}